
.track-order-section {
  padding: 50px 0;
}

.track-order-container {
  width: 100%;
  max-width: 500px;
  margin: auto;
  padding: 50px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  text-align: center;
}

.track-order-container h1 {
  margin-bottom: 30px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
}

.input-group input[type='text'] {
  width:
  100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px; 
  }
  



  .order-details-section {
    padding: 50px 0;
  }
  
  .order-details-container {
    width: 100%;
    max-width: 700px; /* Adjust the width as needed */
    margin: auto;
    padding: 50px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    text-align: center;
    background: #ffffff; /* Assuming a light theme for the details container */
  }
  
  .order-details-container h1 {
    margin-bottom: 30px;
  }
  
  .order-number {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .order-information {
    text-align: left;
    margin-top: 20px;
  }
  
  /* You might want to add more specific styles for the content of the order details */
  .order-information p {
    font-size: 16px;
    line-height: 1.6;
    color: #333; /* Dark text for readability */
  }
  